html {
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
  background-color: #eae7e7;
  min-width: 770px;
  padding-top: 13px;
}

.container {
  max-width: 1200px;
  min-width: 1200px;
  background-color: #eae7e7;
  margin-top: 10px;
  margin-bottom: 3px;
}

ul {
  list-style: none;
}

.vertical-text {
  transform: rotate(270deg);
  transform-origin: left top 0;
}

:link {
  text-decoration: none;
}

#search-bar,
#search-button {
  font-size: 15px;
  box-shadow: 0 2px 8px 1px rgb(64 60 67 / 24%);
}

#search-bar {
  border: none;
}

#search-bar:hover {
  background-color: #f9f8eb;
}

.btn {
  color: #272727;
  background-color: #76b39d;
  border: none;
  box-shadow: 0 2px 8px 1px rgb(64 60 67 / 24%);
}

.btn:hover {
  background-color: #eae7e7;
}

#content-card {
  background-color: #76b39d;
  border: none;
  box-shadow: 0 2px 8px 1px rgb(64 60 67 / 24%);
}

#search-button {
  font-size: 25px;
  font-family: Arial, Helvetica, sans-serif;
  color: #eae7e7;
}

#search-button:hover {
  background-color: #155e63;
}

#current-weather-information {
  background-color: #76b39d;
  border: none;
  box-shadow: 0 2px 8px 1px rgb(64 60 67 / 24%);
}

#forecast-box {
  background-color: #76b39d;
  border: none;
  box-shadow: 0 2px 8px 1px rgb(64 60 67 / 24%);
  padding-bottom: 40px;
}

#forecast-inside {
  padding-bottom: 30px;
}

#open-source {
  color: #76b39d;
}

#current-city {
  font-size: 55px;
  color: #f9f8eb;
  text-shadow: 2px 2px #155e63;
}

#celsious,
#fahrenheit {
  color: #f9f8eb;
}

#phw {
  margin-top: 2px;
  margin-bottom: -20px;
  padding-bottom: 41px;
}

#precipitation {
  font-size: 18px;
  color: #155e63;
}

#humidity {
  font-size: 18px;
  color: #155e63;
}

#wind {
  font-size: 18px;
  color: #155e63;
}

.city-button {
  font-size: 21px;
  color: #155e63;
}

.city-button:hover {
  color: #155e63;
}

#y {
  margin-top: -1px;
}
